
<%= form_with(model: user, data: { turbo: false }) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email, style: "display: block", class: "col-sm-2 control-label" %>
    <%= form.text_field :email, class: 'form-control col-sm-10' %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit t(create_or_update(user), scope: 'forms.buttons.users'), class: 'btn btn-primary', style: 'margin-top: 10px;' %>
    </div>
  </div>
<% end %>
