<div style="color: red;"><%= notice %></div>

<%= form_with url: tokens_path do |f| %>
  <div>
    <%= f.label :token, t(:token, scope: 'forms.labels.tokens') %>
    <%= f.text_field :token %>
  </div>

  <div>
    <%= f.submit t('sign_in', scope: 'forms.buttons'), class: "btn btn-primary" %>

    <%= link_to t('new', scope: 'forms.buttons.users'), register_users_path, class: "btn btn-secondary" %>
  </div>
<% end %>
