<!DOCTYPE html>
<html>
  <head>
    <title>HuskyChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/flash' %>
    <% if session[:current_user_token] %>
      <p style="text-align: right"><%= button_to t('sign_out', scope: 'forms.buttons'), session_path(Current.user&.id), method: :delete %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
